<div class="col-md-3">

</div>

<div class="col-md-6">
  <h2>Editar Usuario  </h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username, "Nombre de Usuario" %><br />
      <%= f.text_field :username, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :apellido %><br />
      <%= f.text_field :apellido, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:"form-control" %>
    </div>

    <div><%= f.check_box :permission_level, {}, false %> <%= f.label :permission_level, "Male" %> </div>

    <!-- checkbox y pago para cambiar a gold -->
    <div class="field">
      <label>Pago</label>
      <input class="form-control" id="pagoGold" placeholder="Pago de 2500">
    </div>
    <div class="field">
      <label>
        <input type="checkbox"> Ser Gold
      </label>
    </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password , "Contraseña" %> <i>(Dejar en blanco si no se quiere cambiar la contraseña)</i><br />
      <%= f.password_field :password, autocomplete: "off" , class:"form-control"%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation , "Confirmar Contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :current_password , "Contraseña Actual" %> <i>(Se necesita que confirmes tu contraseña actual para guardar los cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Actualizar" %>
    </div>
  <% end %>

  <h3>Cancelar mi cuenta</h3>

  <p>¿Ya no quieres ser parte de photolog? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete %></p>

  <%= link_to "Volver", :back %>

</div>

<div class="col-md-3">

</div>

