<%= form_for([@post,@comment], remote: true, html: { id: "comments-form", :"data-type" => "json" }) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @comment.errors.full_messages.each do |messages| %>
    <div class = "field">
      * <%= messages %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :body, "Comentario:" %><br> <i>(Máximo 1000 caracteres)</i>
    <%= f.text_area :body, class:"form-control" %>
  </div>
  <div class="field ">
    <%= f.submit "Publicar Comentario" ,  class:"btn btn-primary"  %>
  </div>
<% end %>
