<%= form_for([@post,@score]) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <%= f.label :value , "Puntaje" %><br>
    </div>
    <div class="col-md-3">
      <%= f.number_field :value , min: 1 , max: 5 %>
    </div>
    <div class="col-md-6">
      <%= f.submit %>
    </div>
  </div>
<% end %>
