
<div class="row">

  <div class="col-md-3">
    
  </div>


  <div class="col-md-6">
	<div>
		<h1>Mi perfil</h1>
		<p>Nombre de usuario: <%= @user.username %></p>
		<p>Email: <%= @user.email %></p>
		<p>Nombre: <%= @user.nombre %></p>
		<p>Apellido: <%= @user.apellido %></p>
	</div>
	<div>
		<h2>Mis amigos</h2>
		<ul>
		  <% for friendship in @user.friendships %>
		  <li>
		    <%= h friendship.friend.email %>
		    (<%= link_to "eliminar amigo", friendship, :method => :delete %>)
		  </li>
		  <% end %>  
		</ul>
	</div>
	<div>
		<h2>Quienes me tienen como amigo</h2>
		<ul>
		  <% for user in @user.inverse_friends %>
		  <li><%= h user.email %></li>
		  <% end %>
		</ul>
	</div>

	<div class="field">
		<p><%= link_to "Encontrar amigos", users_path %></p>
	</div>



  </div>

  <div class="col-md-3">
    
  </div>
</div>


