
<div class="row">

  <div class="col-md-3">
    <%= render "partials/barraizq" %>
  </div>

  <div class="col-md-6">
  	<h1>Bienvenido a Photolog</h1>
    <div class="row"></div>
  	<% if user_signed_in? %>
      <p>Hola <%= current_user.username %>, Esta es la página principal de Photolog</p>
      <% if current_user.is_admin? %>
        <% @posts.each do |posts| %>
          <h2><%= link_to posts.title, posts %></h2>
          <div class"field">
            <%= image_tag posts.cover.url(:thumb) %>
          </div>
          <div>
            <% unless posts.user.nil? %>
              <p>
                Posteado por: <%= posts.user.username %> - <%= link_to "Eliminar", posts, method: :delete %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% else %> <!-- usuario normal o gold -->
        <% if current_user.banned == true %>
          <h1>Usuario BANEADO!</h1>
        <% else %>
          <div class="field">
            <% if (@average == -1) or (current_user.is_gold?) %>
              <%= link_to "Subir nueva foto", controller: "posts", action: "new" %>
            <% else %>
              <% if (@post.created_at.to_date == Date.current) %>
                <p>Ya subiste fotos hoy - <%= @post.created_at.to_date %></p>
              <% else %>
                <%= link_to "Subir nueva foto", controller: "posts", action: "new" %>
              <% end %>
            <% end %>
          </div>
          <!-- render para show de ultimo post -->
          <%= render "partials/generalpost" %>
        <%end%>
      <% end %>
    <% else %> <!-- desconectado -->
		  <h3>Esta es la página principal de Photolog</h3>
      <% @posts.each do |posts| %>
        <h2><%= link_to posts.title, posts %></h2>
        <div class"field">
          <%= image_tag posts.cover.url(:thumb) %>
        </div>
        <div>
          <% unless posts.user.nil? %>
            <p>
              Posteado por: <%= posts.user.username %>
            </p>
          <% end %>
        </div>
      <% end %>


    <% end %>

  </div>

  <div class="col-md-3">
    <%= render "partials/barrader" %>
  </div>
</div>


