
<div class="row">
	<div class="col-md-3">
    	<%= render "partials/barraizq" %>
	</div>

<div class="col-md-6">
	<% @allposts.each do |allposts| %>
		<h1><%= link_to allposts.title, allposts %></h1>
		<% unless allposts.user.nil? %>
		<p>
			Posteado por: <%= allposts.user.username %>
		</p>
		<% end %>
		<div>
			<%= image_tag allposts.cover.url(:thumb) %>
			<% if current_user.is_admin? %>
				 - <%= link_to "Eliminar", allposts, method: :delete %>
			<% end %>
		</div>
		
	<% end %>

</div>

  <div class="col-md-3">
    <%= render "partials/barrader" %>
  </div>

</div>
