<div class="row">
	<div class="col-md-3">
		<%= render "partials/barraizq" %>
	</div>

	<div class="col-md-6">

		<h1><%= @post.title %></h1>
		<div>
			<% unless @post.user.nil? %>
			<p>
				Posteado por: <%= @post.user.username %>
			</p>
			<% end %>
		</div>
		<div class="field">
			<%= image_tag @post.cover.url(:thumb) %>
		</div>
		<div>
			<p>
				Visitas: <%= @post.visits_count %>
			</p>
		</div>
		<div>
			<%= @post.body %>
		</div>
		<div>
			<% if current_user.id == @post.user.id %>
				<%= link_to "Editar", edit_post_path(@post) %>
			<% end %>
		</div>
		<div class="field">
			<h3>Comentarios</h3>
			<ul id="comments-box">
				<% @post.comments.each do |comment|%>
				<li>
					<%= comment.body %> - <%= comment.user.email %>
				</li>
				<% end %>
			</ul>
			<%= render "comments/form" %>
		</div>
		
	</div>

	<div class="col-md-3">
	    <%= render "partials/barrader" %>
	</div>
</div>